/*apply font to everything*/
*{
    font-family: Garamond, serif;
}

.overlayContent {
  position: relative;
  height: 100vh;
}

.startScreenBody{
}

.iconImg {
    width: 50px;
    height: 50px;
    display:inline-block;
}

.fairUseCopyRight {
    font-size: 23px;
    background-color: darkslategray;
    width: fit-content;
    /*position: fixed;*/
    bottom: 0px;
    font-weight: bolder;
    color: white;
    left: 40%;
    margin: 0;
}

.creditsDiv {
  position: fixed;
  bottom: 0;
    margin-left:50%;
}

#startButton {
    margin-top: 45px;
    font-size: 40px;
    margin-left: 25%;
    margin-bottom: 30px;
}

#beginGameButton {
    font-size: 70px;
    display: block;
    margin-left: 25%;
}

.item {
    background-image: linear-gradient(#0033cc, #002080);
}

.item input {
    font-size: 25px;
}

#name {
    font-size: 25px;
    width: 60%;
}

.itemLabel {
    display:inline-block;
    color: white;
    font-size: 25px;
}

.field {
    color: white;
    width: 50%;
    font-size: 40px;
    display:inline-block;
    background-image: url('buttonBackground.png');
    background-size: 100% 100%;
}

#title {
    width: 859px;
    height: 120px;
    text-align: center;
    display:inline-block;
}


#titleIcon {
    width: 318px;
    height: 342px;
    display:inline-block;
    vertical-align: text-top;
    vertical-align:top;
    float: right;
    margin-right: 200px;
}


#confirmJobs {
    font-size: 25px;
}

#flagPreviewTitle {
    display: none;
    width: 600px;
    height: 400px;
}

#flagPreviewGame {
    display:inline-block;
    width: 500px;
    height: 250px;
    vertical-align: text-top;
    float: right;
}

#tutorialScreen {
    display: none;
}

.tutorialContent {
  position: relative;
  height: 100vh;
}

#gameScreen {
  display: none;
}

.gameContent {
  position: relative;
  height: 100vh;
}

#introVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.gameBackground {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
    background-image: url('headerBackground.png');
    background-size: 100% 100%;
    display: inline-block;
}

#currentYear {
    font-size: 40px;
    display:inline-block;
    color: white;
}


#colonyName {
    font-size: 40px;
    text-align: center;
    display:inline-block;
    color: white;
}
.row {
    display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  background-image: url('parchment_background.jpg');
}

#eventImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

#eventText {
    font-size: 23px;
}

.eventButtons input {
    font-size: 30px;
}

.eventTextContent {
    padding-left: 15%;
    padding-right: 15%;
}

#eventDialog {
  display: none;
  background-image: url('eventBackground.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

#errorPopup {
  display: none;
  font-weight: bolder;
  color: red;
  background-color: black;
  font-size: 20px;
}

#endEventButton {
  display: none;
  font-size: 20px;
}

#yearResults {
  display: none;
}

#yearResults p {
    background-image: url('buttonBackground.png');
    background-size: 100% 100%;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: -1em;
    margin-top: 0em;
    padding-left: 30px;
}

#startNextYearButton {
    font-size: 30px;
}

#gameOver {
  display: none;
}


